@value secondary, primary from "../../colors.module.css";

.container {
  z-index: 1;
}

.list__container {
  composes: flex from "../../general.module.css";
  flex-flow: row wrap;
  /* border: 1px solid #000; */
  /* gap: 1.25rem; */
  justify-content: center;
  z-index: 1;
}

.list__item {
  flex: 1;
  min-width: 250px;
  max-width: 350px;
  overflow: hidden;
  /* border: 1px solid #000; */
  border-radius: 0.625rem;
  position: relative;
  color: primary;
  height: 250px;
  /* margin-top: 1rem; */
  margin: 0.5rem;
}

.list__img {
  object-fit: cover;
}

.list__label {
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
}
