@value primary, secondary, blue2 from "../../colors.module.css";

.container {
  composes: flex from "../../general.module.css";
  flex-flow: column wrap;
  background-color: primary;
  color: secondary;
  padding-bottom: 100px;
  position: relative;
}

.container_list_mode {
  composes: container;
  padding-bottom: 0px;
}

.list__container {
  composes: container flex from "../../general.module.css";
  flex-flow: row wrap;
  margin-bottom: 1rem;
  gap: 2.5rem;
}

.list__item {
  composes: flex from "../../general.module.css";
  gap: 0.5rem;

  align-items: center;
}

.active {
  @value primary from "../../colors.module.css";
  border: 1px solid secondary;
  padding: 0.625rem;
  border-radius: 1.25rem;
}

.heading {
  composes: container from "../../general.module.css";
}

.desc {
  margin-top: 20px;
  margin-bottom: 20px;
}

.btn {
  composes: btn from "../../general.module.css";
  background-color: blue2;
  color: secondary;
  font-weight: 500;
}
