@value primary, secondary, blue2, yellow as col1, gray as col2 from "../../colors.module.css";

.container {
  z-index: 2;
  composes: container flex from "../../general.module.css";
  position: relative;
  align-items: center;
  background-color: secondary;
  border: 3px solid col1;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
}

.list__container {
  composes: flex from "../../general.module.css";
  flex-flow: row wrap;
  gap: 1rem;

  width: 100%;
  justify-content: space-around;
}

.item {
  composes: flex from "../../general.module.css";
  align-items: center;
  gap: 0.75rem;
}

.icon {
  color: col2;
}

.text,
input::placeholder {
  color: col2;
  cursor: pointer;
  font-size: 13px;
}

.btn {
  composes: btn from "../../general.module.css";
  background-color: blue2;
  color: secondary;
}

.date_selector {
  position: absolute;
  top: 70px;
  margin-top: 0.05rem;
}

.options__container {
  background-color: secondary;
  color: gray;
  position: absolute;
  top: 70px;
  font-size: 13px;
  padding: 1rem 1.5rem;
  margin-top: 0.05rem;
}

.option {
  composes: flex from "../../general.module.css";
  align-items: center;
  justify-content: space-between;
  width: 200px;
  margin: 0.25rem;
}

.option_label {
  text-transform: capitalize;
}

.option_counter_val {
  margin: 0 0.5rem;
}

.option_counter_btn {
  width: 30px;
  height: 30px;
  color: primary;
  border: 1px solid #3d91ff;
}

.option_counter_btn:disabled {
  border: none;
  cursor: not-allowed;
}

.option_reset_btn {
  padding: 0.35rem 1.25rem;
  margin-top: 1rem;
  border: 1px solid #3d91ff;
}
