.container {
  composes: flex from "../../general.module.css";
  @value primary from "../../colors.module.css";

  min-height: 50px;
  background-color: primary;
}

.list_container {
  @value secondary from "../../colors.module.css";
  composes: container grid from "../../general.module.css";
  color: secondary;
  padding: 10px;

  grid-template-columns: repeat(2, 100px);
  gap: 1.25rem;
  justify-content: center;
  justify-items: center;
}

.fullwidth {
  grid-column: 1/3;
}

.btn {
  composes: btn from "../../general.module.css";
}

@media (min-width: 350px) {
  .list_container {
    grid-template-columns: 1fr repeat(2, fit-content(50px));
    justify-items: end;

    padding: 20px;
  }

  .fullwidth {
    grid-column: 1/2;
    justify-self: start;
  }
}
