.container {
  composes: container flex from "../../general.module.css";
  max-width: calc(1024px + 64px);
  flex-flow: column wrap;
  padding: 5rem 2rem 3.5rem;
}

.container > * {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
