.container {
  composes: container flex from "../../general.module.css";
  max-width: calc(1024px + 64px);
  flex-flow: column wrap;
  gap: 2rem;
  padding-inline: 32px;
  padding-block-start: 5rem;
  padding-block-end: 3.5rem;
}
